@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="tooplate_middle">
    <div id="slider">
        <a href="#" class="active"><img src="~/slideshow/01.jpg" alt="nature 1" title="Suspendisse quis velit ac nisl ultrices tristique a eu velit." /></a>
        <a href="#"><img src="~/slideshow/02.jpg" alt="nature 2" title="Fusce eget tellus eget felis ultrices volutpat et vitae mauris." /></a>
        <a href="#"><img src="~/slideshow/03.jpg" alt="nature 3" title="Duis non est nec dui tincidunt pulvinar lacinia vel quam." /></a>
        <a href="#"><img src="~/slideshow/04.jpg" alt="nature 4" title="Phasellus in orci eget neque tristique semper ut ac lacus." /></a>
        
        <div class="nivo-caption">
            <p id="slider-caption-text">Suspendisse quis velit ac nisl ultrices tristique a eu velit.</p>
        </div>
    </div>
</div>

<div class="container col_w960">
    <h2>Welcome to Green Age</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="wwd_box">
                <img src="~/icon1.png" alt="Work One" />
                <div class="wwd_content">
                    <h3><a href="#">Download Free Templates</a></h3>
                    <p>Green Age is a free <a href="http://www.tooplate.com" target="_parent">website template</a> for everyone. You may edit and apply this template for any purpose.</p>
                </div>
                <div class="cleaner"></div>
                <a href="#" class="more float_r">More</a>
                <div class="cleaner"></div>
            </div>
            
            <div class="wwd_box">
                <img src="~/icon2.png" alt="Work One" />
                <div class="wwd_content">
                    <h3><a href="#">Aenean Quis Nulla ac Nisl Rutrum</a></h3>
                    <p>Cras scelerisque ligula id mi suscipit, sed fringilla ipsum blandit. Sed dictum ante tellus, tristique luctus dolor porttitor at. Morbi vel tempor enim.</p>
                </div>
                <div class="cleaner"></div>
                <a href="#" class="more float_r">More</a>
                <div class="cleaner"></div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="wwd_box">
                <img src="~/icon3.png" alt="Work One" />
                <div class="wwd_content">
                    <h3><a href="#">Online Marketing</a></h3>
                    <p>Sed et eros ac mauris suscipit viverra. Sed et eros ac mauris suscipit viverra. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> and <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
                </div>
                <div class="cleaner"></div>
                <a href="#" class="more float_r">More</a>
                <div class="cleaner"></div>
            </div>
            
            <div class="wwd_box">
                <img src="~/icon4.png" alt="Work One" />
                <div class="wwd_content">
                    <h3><a href="#">Praesent Dui Nibh Eleifend Lobortis</a></h3>
                    <p>Suspendisse ligula massa, cursus eget nunc sed, interdum cursus eros. Credit goes to <a href="http://unsplash.com" rel="nofollow">Unsplash</a> for photos used in homepage slider.</p>
                </div>
                <div class="cleaner"></div>
                <a href="#" class="more float_r">More</a>
                <div class="cleaner"></div>
            </div>
        </div>
    </div>
</div>

<div class="container col_w960 latest_projects_section">
    <h2>Latest Projects</h2>
    <div class="project_grid">
        <div class="project_item">
            <h3>Nullam ut neque neque</h3>
            <div class="project_thumb">
                <img src="~/tooplate_image_01.jpg" alt="Project preview 1" />
            </div>
            <p>Etiam ut nibh et urna cursus ultricies nec vel nunc. In hac habitasse platea dictumst.</p>
            <a href="#" class="more float_r">More</a>
            <div class="cleaner"></div>
        </div>

        <div class="project_item">
            <h3>Sed aliquam mauris</h3>
            <div class="project_thumb">
                <img src="~/tooplate_image_02.jpg" alt="Project preview 2" />
            </div>
            <p>Donec ullamcorper feugiat nunc ut tempus. Sed sodales, nibh ut ultricies pulvinar.</p>
            <a href="#" class="more float_r">More</a>
            <div class="cleaner"></div>
        </div>

        <div class="project_item">
            <h3>Aliquam aliquet sem set  phẩm</h3>
            <div class="project_thumb">
                <img src="~/tooplate_image_077777.jpg" alt="Hackthonwer" />
            </div>
            <p>Praesent auctor quam quis libero venenatis dapibus. Donec ullamcorper feugiat nunc ut tempus.</p>
            <a href="#" class="more float_r">More</a>
            <div class="cleaner"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            var $slides = $('#slider a:not(.nivo-caption)');
            var $caption = $('#slider-caption-text');
            var currentIndex = 0;
            
            setInterval(function() {
                var $current = $slides.eq(currentIndex);
                $current.removeClass('active');
                
                currentIndex = (currentIndex + 1) % $slides.length;
                
                var $next = $slides.eq(currentIndex);
                $next.addClass('active');
                $caption.text($next.find('img').attr('title'));
            }, 5000);
        });
    </script>
}