@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="tooplate_middle">
    <div id="slider">
        <a href="#" class="active"><img src="~/slideshow/01.jpg" alt="nature 1" title="Suspendisse quis velit ac nisl ultrices tristique a eu velit." /></a>
        <a href="#"><img src="~/slideshow/02.jpg" alt="nature 2" title="Fusce eget tellus eget felis ultrices volutpat et vitae mauris." /></a>
        <a href="#"><img src="~/slideshow/03.jpg" alt="nature 3" title="Duis non est nec dui tincidunt pulvinar lacinia vel quam." /></a>
        <a href="#"><img src="~/slideshow/04.jpg" alt="nature 4" title="Phasellus in orci eget neque tristique semper ut ac lacus." /></a>
        
        <div class="nivo-caption">
            <p id="slider-caption-text">Suspendisse quis velit ac nisl ultrices tristique a eu velit.</p>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            var $slides = $('#slider a:not(.nivo-caption)');
            var $caption = $('#slider-caption-text');
            var currentIndex = 0;
            
            setInterval(function() {
                var $current = $slides.eq(currentIndex);
                $current.removeClass('active');
                
                currentIndex = (currentIndex + 1) % $slides.length;
                
                var $next = $slides.eq(currentIndex);
                $next.addClass('active');
                $caption.text($next.find('img').attr('title'));
            }, 5000);
        });
    </script>
}