<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BaiTapGk</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/BaiTapGk.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <div class="container py-3">
        <a asp-area="" asp-page="/Index">
            <img src="~/tooplate_logo.png" alt="GreenAge Logo" />
        </a>
    </div>
    <div id="tooplate_menu" class="container p-0">
        <ul>
            <li><a href="index.html" class="current">Home</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li class="last"><a href="contact.html">Contact</a></li>
        </ul>    	
        
        <div id="search_box">
            <form action="#" method="get">
                <input type="text" value="Search" name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
            </form>
        </div>
		
        <div class="cleaner"></div>
    </div> <!-- end of tooplate_menu -->
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer" style="background-color: #000; color: #ccc; padding: 20px 0; position: absolute; bottom: 0; width: 100%;">
    <div class="container text-center">
        Copyright &copy; 2048 <span style="color: #6bb300;">Company Name</span> - Design: <span style="color: #6bb300;">tooplate</span>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>